@import "./sassConfig.scss";
@import "./elementui.scss";
@import "./normalize.scss";
@import "./svgicon.scss";

/* text-align */
.text-right { text-align: right; }

/* margin */
.mr-15 { margin-right: 15px; }
.mr-25 { margin-right: 25px; }

/* spacing */
.spacing-30 { height: 30px; }

/* float */
.pull-right { float: right; }

/* spacing */
.spacing-1 { height: 1px; }

/* min-height */
.min-heihgt-1 { min-height: 1px; }
