.el-submenu {
    svg {
        font-size: 18px;
        margin-right: 10px;
    }
}
.icon-menu-btn { font-size: 25px; }

.categoryReduce {
    font-size: 16px;
    color: #000;
    margin-bottom: -2px;
    margin-right: 10px;
}